html{
    background: #000;
    margin: 0 auto;
}
  body{
    background: #F5D6B4;
  }
  div {
    width: 200px;
    height: 200px;
    background: #dd6b4d;
    border-radius: 100px 100px 100px 100px;
    margin: -8px
  }
